

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/RobotoCondensed-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/RobotoCondensed-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/RobotoCondensed-Italic.ttf');
    font-style: italic;
}
